 /* ============================================= */
  /*              Mixins                       */
  /* ============================================= */


@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@mixin images-1 {
    margin-top: 10px;
    max-width: 100%;
}