 /* ============================================= */
  /*              Variables                       */
  /* ============================================= */

  // Colors
  $color-primary: #58e1c1;
  $color-col-4: #7ee6fd;
  $color-col-5: #88d9a0;
  $color-col-6: #4da2bb;
  $color-col-7: #ec9fa3;
  $color-link: #51ddfc;
  $color-nav-button-hover: #58e1c1;
  $color-text-primary: #777;
  $color-text-white: #fff;
  $color-error: #e4757a;
  $color-info: #927bc1;
  $color-success: #63cc82;
  $color-warning: #fd7856;


// Typography
$font-stack-primary: 'Lato', sans-serif;
$font-regular: 300;

//Breakpoints
$break: 768px;