 /* ============================================= */
  /*              Images                           */
  /* ============================================= */
  
  .img {
    &-avatar {
      @include center;
      @include images-1;
      max-height: 100%;
    }
    &-frame {
      @include center;
      @include images-1;
      padding: 13px;
      border: 1px solid #ccc;
    }  
    &-logo {
      @include center;
    }
}