 /* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    color: $color-text-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color .2s;
  }
  
  .default {
    background-color: $color-link;
    &:hover {
      background-color: $color-link-light;
    }
  }
  
  .error {
    background-color: $color-error;
    &:hover {
      background-color: $color-error-light;
    }
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background-color: $color-info-light;
    }
  }
  
  .success {
    background-color: $color-success;
    &:hover {
      background-color: $color-success-light;
    }
  }
  
  .warning {
    background-color: $color-warning;
    &:hover {
      background-color: $color-warning-light;
    }
  }